@font-face {
  font-family: 'segmentregular';
  src: url('fonts/segment-webfont.eot');
  src: url('fonts/segment-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/segment-webfont.woff') format('woff'),
  url('fonts/segment-webfont.ttf') format('truetype'),
  url('fonts/segment-webfont.svg#segmentregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

div.clock{
  font-family: 'segmentregular';
}

div.bold {
  font-weight: bold;
}